{
  "root": true,
  "extends": "eslint:all",
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "no-unused-vars": "off",
    "quotes": ["error", "single"],
    "no-undef": "off",
    "padded-blocks": ["error", "never"],
    "no-duplicate-imports": "off",
    "object-curly-spacing": ["error", "always"],
    "max-len": ["error", 100],
    "one-var": ["error", "never"]
  }
}
